
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  transition: all .2s ease-out;
  font-family: $body-font-family;

  @if $use-variable-font {
    @supports (font-variation-settings: normal) {
      font-family: $variable-font-family;
    }
  }

  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: normal;
  color: var(--button-color);
  text-transform: none;
  box-shadow: var(--default-box-shadow);
  outline: 0;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: var(--button-border-radius);
    margin: 2px;
    transition: box-shadow 130ms ease-out, margin 130ms ease-out;
  }

  &:hover,
  &:active {
    background-color: var(--button-hover-background-color);
    border: var(--button-hover-border);
  }

  &:disabled {
    opacity: .5;
  }
}

.button--focus-ring {

  &::after {
    box-shadow: 0 0 0 2px var(--focus-ring-color);
    margin: -4px;
  }
}

.button--primary {
  border: var(--button-primary-border);
  background-color: var(--button-primary-background-color);
  color: var(--button-primary-color);
}
