// SMACSS Layout Rules
// ----------------------------
// Layout styles can also be divided into major and minor styles based on reuse.
// Major layout styles such as header and footer are traditionally styled using
// ID selectors but take the time to think about the elements that are common
// across all components of the page and use class selectors where appropriate.
// ===============================================================================

//main > section,
//main > article {
//  max-width: var(--section-max-width);
//  margin: 0 auto;
//  padding: 0;
//}

//main > section.full-width {
//  width: 100%;
//  max-width: none;
//  padding: 0;
//}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min(var(--section-max-width), 100%) 1fr;
  margin: 0;
}

.wrapper > * {
  grid-column: 2;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
