@import '../styles/shared';

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  figure {
    display: contents;
  }

  figcaption {
    @include visuallyhidden;
  }

  img {
    will-change: height, tranform;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; // calc(100vh - #{$menu-height});
    z-index: 1;
    object-fit: cover;

    //:global {
    //  animation: kenburns 50s ease;
    //}
  }

  header {
    will-change: height, tranform;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    z-index: 2;
    margin: 0 auto;
    padding: 0 var(--section-lateral-margin);
  }
}

.heroTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;

  [role="doc-subtitle"] {
    padding: 0;
    font-family: var(--body-font-family);
    font-size: .888rem;
    line-height: 1.2;
    text-shadow: var(--title-text-shadow);
    text-transform: uppercase;
  }

  h1 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: clamp(4rem, 100%, 8rem);
    font-weight: 170; // big bold
    line-height: 1.2;
    text-shadow: var(--title-text-shadow);

    a {
      display: block;
      width: 100%;
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      text-decoration: none;
      color: var(--color-white);
    }
  }
}

.splitting {
  display: block;
  overflow: hidden;
}

.word {
  display: inline-block;
}

.char {
  position: relative;
  display: inline-block;
  will-change: transform;
}


.heroMeta {
  p {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    text-shadow: var(--title-text-shadow);
  }
}

.heroGenres {
  @include title-genres;
  text-shadow: var(--title-text-shadow);
}

.heroDescription {
  padding: 0 1rem;

  p {
    margin: 0;
    font-size: .8rem;
    text-shadow: var(--title-text-shadow);
  }
}

.heroFooter {
  padding: 0 1rem;
}


.heroInfoSmall {
  //margin-bottom: .667rem;
  //font-size: 13px;
  //letter-spacing: 0.4px;
}


.heroPlayButton {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 160px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  //transform: translate3d(-50%, -50%, 0);

  //.triangle {
  //  transition: fill-opacity .2s ease-out;
  //}
  //
  //&:hover,
  //&:focus,
  //&:active {
  //  .triangle {
  //    fill-opacity: 1;
  //  }
  //}
}

.heroActions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 1rem 0;

  button,
  a {
    margin-right: 1rem;
  }
}

.heroAbstract {
}

.heroSkeleton {

}

@keyframes skeletonOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

.heroSkeletonBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; // calc(100vh - #{$menu-height});
  z-index: 1;
  animation: skeletonOpacity 5s ease-in-out infinite;
}
