@import '../styles/shared';

$menu-background: transparent;
$menu-height: 3.33rem; // 60px
$menu-zindex: 101;
$menu-toggle-button-zindex: $menu-zindex + 2;

.siteHeader {
  //position: -webkit-sticky;
  //position: sticky;
  position: fixed;
  top: 0;
  width: 100vw;
  height: $menu-height;
  z-index: $menu-zindex + 1;
  background-color: rgba(0, 0, 0, 0.23);
  transition: background-color .35s ease-in-out;
  //overflow: hidden;
}

.siteHeaderScrolled {
  background-color: var(--color-body-background);
}

.header--open {
  height: 100vh;
  overflow: auto;
}

/**
  Mobile Navigation
 */
.mainMenu {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  //height: $menu-height;
  //overflow: hidden;
  padding: 0 4%;
  //background-color: $menu-background;

  @include media(">=tablet") {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.mainMenuToggle {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.33rem;
  height: 3.33rem;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  z-index: $menu-toggle-button-zindex;

  svg {
    width: 1.44rem;
    height: .88rem;
  }

  @include media(">=tablet") {
    display: none;
  }
}

.mainMenuItems {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  margin: 2rem 0 0 0;
  list-style-type: none;
  padding: 0 2.22rem;
  background-color: transparent;
  z-index: $menu-zindex;

  > li {
    margin: 0;
    list-style-type: none;
    padding: 1rem 0;
    text-align: left;
  }

  a,
  a:link {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    font-family: var(--variable-font-family);
    font-size: .8rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.37px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    transition: color .2s ease-out;


    /*
     * Don't enable hover on links, it wll cause this issue on ios:
     * https://css-tricks.com/annoying-mobile-double-tap-link-issue/
    */
    // &:hover:after,
    &:focus:after {
      width: 100%;
    }

    &:active,
    &:focus {
      color: var(--color-primary);
      text-decoration: none;
    }

  }

  @include media(">=tablet") {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: auto;
    left: auto;
    height: 100%;
    margin: 0;
    padding: 0;

    > li {
      flex: 0 0 auto;
      margin: 0 .5rem;
    }

    a,
    a:link {
      display: block;
      width: auto;
      margin: 0 1rem;
      color: var(--color-white);

      &:hover,
      &:active,
      &:focus {
        color: var(--color-primary);
        text-decoration: none;
      }

    }
  }
}

