@import '../styles/shared';

$menu-zindex: 101;
$menu-toggle-button-zindex: $menu-zindex + 2;

.siteHeader {
  position: fixed;
  top: 0;
  //position: relative;
  width: 100vw;
  //height: var(--menu-height);
  z-index: $menu-zindex + 1;
  background-color: var(--color-primary);
  //transition: transform .35s ease-in-out;
  transform: translateY(calc(-100% + var(--menu-mobile-height)));

  @include media(">=tablet") {
    height: var(--menu-mobile-height);
  }
}

//Menu open styles
.siteHeaderOpen {
  //height: 80vh;
  //overflow: auto;
}

.siteHeaderWrapper {
  @include layout-grid;
  align-items: center;
  width: 100%;
  height: 100%;
  //margin: 0 auto;
}

.siteHeaderScrolled {
  //transform: translateY(calc(-100% + 7px));
}


.mainMenuToggle {
  grid-area: 1 / auto;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: .888rem;
  line-height: 1.18;
  color: var(--color-secondary);
  background-color: transparent;
  z-index: $menu-toggle-button-zindex;
  cursor: pointer;

  @include media(">=tablet") {
    display: none;
  }
}

.mainMenuToggle_Active {
  visibility: hidden;
}


.mainMenu {
  grid-area: 1/1/1/7;
  //position: absolute;
  //top: var(--menu-mobile-height);
  //left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 0;
  transition: top .35s ease-in;
  background-color: var(--color-primary);

  @include media(">=tablet") {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.mainMenuOpen {
  //top: 0;
}

.Logo {

}

.mainMenuItems {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 0 1.33rem 0;
  list-style-type: none;
  background-color: var(--color-primary);
  z-index: $menu-zindex;

  > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  a,
  a:link {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 .5rem;
    font-family: var(--variable-heading-font-family);
    font-size: 3.11rem;
    line-height: 1.2;
    font-weight: 110; // small medium
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-secondary);
    transition: color .2s ease-out;

    &:visited {
      color: var(--color-secondary);
    }

    /*
     * Don't enable hover on links, it wll cause this issue on ios:
     * https://css-tricks.com/annoying-mobile-double-tap-link-issue/
    */
    // &:hover:after,
    &:focus:after {
      width: 100%;
    }

    &:active,
    &:focus {
      color: var(--color-white);
      text-decoration: none;
    }

  }

  @include media(">=tablet") {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: auto;
    left: auto;
    height: 100%;
    margin: 0;
    padding: 0;

    > li {
      flex: 0 0 auto;
      margin: 0 .5rem;
    }

    a,
    a:link {
      display: block;
      width: auto;
      margin: 0 1rem;
      color: var(--color-white);

      &:hover,
      &:active,
      &:focus {
        color: var(--color-primary);
        text-decoration: none;
      }

    }
  }
}

.mainMenuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.44rem;
  padding: 0 .5rem;
  background-color: var(--color-primary);

  a {
    font-family: var(--variable-heading-font-family);
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 110; // small medium
    color: var(--color-secondary);
  }
}

.mainMenuFooter {
  width: 100%;
  height: 2.66rem;
  border-top: 1px solid var(--color-secondary);
  background-color: var(--color-primary);

  button {
    width: 100%;
    height: 100%;
    padding: .888rem .5rem;
    margin: 0;
    border: 0;
    font-size: .888rem;
    line-height: 1.18;
    color: var(--color-secondary);
    background-color: transparent;
    justify-content: flex-start;
  }

  @include media(">=tablet") {
    display: none;
  }
}

