@import '../styles/shared';

.siteFooter {
  //display: grid;
  //grid-template-columns: 1fr;
  //grid-template-rows: auto auto auto;
  //grid-gap: 1rem;
  //grid-template-areas: "social" "copyright" "credits";
  @include container;
  margin: 4rem auto;

  p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.tmdb {
  width: 190.24px;
  height: 81.52px;
  max-width: none;
}

.siteFooterCopyright {
  //grid-area: copyright;
  //margin: 0 auto 2rem auto;
  //padding: 0 1rem;
  font-size: .888rem;
  //color: var(--color-black);
  text-align: center;
}

.siteFooterCredits {
  grid-area: credits;
  //display: grid;
  //grid-template-columns: 56px 1fr;
  //grid-template-rows: 1fr;
  //grid-gap: 1rem;
  //grid-template-areas: "credits-logo credits-text";
  width: 100%;
  margin: 0 auto 2rem auto;
  padding: 0 1rem;
  font-size: .778rem;
  //color: var(--color-black);
  text-align: center;

  > a {
    grid-area: credits-logo;
  }

  > p {
    grid-area: credits-text;
  }

  //a {
  //  font-size: inherit;
  //}
}
