//  Settings
//  -----------------------------
@import 'mixins/mixins';

// 1. Global
// ---------
$render-vertical-rhythm-lines: false;


// Fonts
$use-variable-font: true;
$use-variable-font-for-headings: false;


// Z-INDEXES
// -----------
// list in ascending order
// -----------

$home-mobile-loader-zindex: 110;
