//  Settings
//  -----------------------------
@import 'mixins/mixins';

// 1. Global
// ---------
$render-vertical-rhythm-lines: false;


// Fonts
$use-variable-font: false;
$use-variable-font-for-headings: true;


// Z-INDEXES
// -----------
// list in ascending order
// -----------

$home-mobile-loader-zindex: 110;
