/* ************************************************************************************
    This separate css for fonts is needed to overcome an issue with Storybook
   ************************************************************************************ */

@font-face {
  font-family: 'Marvin Visions Variable';
  src: url(/fonts/MarvinVisionsTrial-Variable.woff2) format("woff2"),
  url(/fonts/MarvinVisionsTrial-Variable.woff) format("woff"),
  url(/fonts/MarvinVisionsTrial-Variable.ttf) format("truetype");
  font-variation-settings: 'opsz' 80;
  font-weight: 20 170;
  font-display: swap;
  /*big bold: font-weight: 170;*/
  /*small medium: font-weight: 110;*/
}


@font-face {
  font-family: 'Marvin Visions';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/MarvinVisionsBig-Bold.woff2") format("woff2"),
  url("/fonts/MarvinVisionsBig-Bold.woff") format("woff");
}


@font-face {
  font-family: 'Marvin Visions';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/MarvinVisionsSmall-Medium.woff2") format("woff2"),
  url("/fonts/MarvinVisionsSmall-Medium.woff") format("woff");
}


@font-face {
  font-family: 'Rubik';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/rubik-v11-latin-regular.woff2") format("woff2"),
  url("/fonts/rubik-v11-latin-regular.woff") format("woff");
}
